"""
EventsApi — auto-generated by OpenAPI Generator CLI.
Do not edit manually.
"""
from typing import List, Optional
from ..api_client import ApiClient
from ..models.event import Event
from ..models.booking import Booking


class EventsApi:
    def __init__(self, api_client: ApiClient = None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_event_events_post(self, name: str, total_seats: int, date: str,
                                  description: Optional[str] = None) -> Event:
        """Create a new event. POST /events/"""
        body = {"name": name, "total_seats": total_seats, "date": date}
        if description:
            body["description"] = description
        data = self.api_client.call_api("POST", "/events/", body=body)
        return Event.from_dict(data)

    def get_events_events_get(self) -> List[Event]:
        """Retrieve all events. GET /events/"""
        data = self.api_client.call_api("GET", "/events/")
        return [Event.from_dict(item) for item in data]

    def get_event_events_event_id_get(self, event_id: int) -> Event:
        """Retrieve a specific event. GET /events/{event_id}"""
        data = self.api_client.call_api("GET", f"/events/{event_id}")
        return Event.from_dict(data)

    def book_event_events_event_id_book_post(self, event_id: int, number_of_tickets: int = 1) -> Booking:
        """Book a seat for an event. POST /events/{event_id}/book"""
        body = {"number_of_tickets": number_of_tickets}
        data = self.api_client.call_api("POST", f"/events/{event_id}/book", body=body)
        return Booking.from_dict(data)


class BookingsApi:
    def __init__(self, api_client: ApiClient = None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def cancel_booking_bookings_booking_id_delete(self, booking_id: int) -> dict:
        """Cancel a booking. DELETE /bookings/{booking_id}"""
        return self.api_client.call_api("DELETE", f"/bookings/{booking_id}")


class AuthApi:
    def __init__(self, api_client: ApiClient = None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def register_register_post(self, username: str, password: str) -> dict:
        """Register user. POST /register"""
        body = {"username": username, "password": password}
        return self.api_client.call_api("POST", "/register", body=body)

    def login_login_post(self, username: str, password: str) -> dict:
        """Login user. POST /login"""
        body = {"username": username, "password": password}
        return self.api_client.call_api("POST", "/login", body=body)
